{% extends 'productos/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">Categorías</h3>

<div class="card">
    <div class="card-content">
        <h2>Editar: {{categoria.name}}</h2>
    </div>
    <div class="card-action">
        <form action="" method="POST"> {% csrf_token %}
            <label>Nombre: <input type="text" value="{{categoria.name}}" required name="name"></label><br>
            <label>Descripción: <input type="text" value="{{categoria.desc}}" required name="desc"></label><br>
            <center><button class="btn" type="submit">Guardar</button></center>
        </form>
    </div>
</div>
<br>
<a href="/categorias/" class="btn">Ir atrás</a><br>

{% endblock %}