{% extends 'productos/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">Comprar producto</h3>

<div class="card">
    <div class="card-content">
        <h2>Comprar: {{producto.name}}</h2>
        <h2>${{producto.cost}}</h2>
        <h2>Disponibles: {{producto.quantity}}</h2>
    </div>
    <div class="card-action">
        <form action="" method="POST"> {% csrf_token %}
            <label>Cantidad: <input type="number" value="1" required name="qty" onchange="cambia()" id="cant"></label><br>
            <label>Total: <input type="number" value="{{producto.cost}}" required name="total" disabled id="tot"></label><br>
            <center><button class="btn" type="submit">Comprar</button></center>
        </form>
    </div>
</div>
<br>
<a href="/productos/" class="btn">Ir atrás</a><br>

<input type="number" value="{{producto.cost}}" hidden id="to">

<script>
    function cambia() {
        qty = parseInt(document.getElementById('cant').value);
        costo = parseInt(document.getElementById('to').value);
        //alert(qty, costo);
        document.getElementById('tot').value = parseInt(qty * costo);
    }
</script>

{% endblock %}