{% extends 'productos/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">Crear producto</h3>

<div class="card">
    <div class="card-content">
        <h2>Ingresa los datos del producto</h2>
    </div>
    <div class="card-action">
        <form action="" method="POST"> {% csrf_token %}
            <label>Nombre del producto:<input type="text" placeholder="Nombre del producto" name="name" required></label>
            <label>Disponibles: <input type="number" required name="quantity" placeholder="Número de productos"></label><br>
            <label>Costo: <input type="number" required name="cost" placeholder="Costo del producto"></label><br>
            <center><button class="btn" type="submit">Guardar</button></center>
        </form>
    </div>
</div>
<br>
<a href="/productos/" class="btn">Ir atrás</a><br>

{% endblock %}